.target {
	opacity: 0;
	transition: 1s;
}

.is-animation {
	opacity: 1;
}

.header {
	display: block;
}

.section + .section {
	margin-top: 100px;
}

.mv {
	background: url("/img/mv.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.mv_inr {
	width: 450px;
	height: 450px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mv_arw_bottom {
	width: 150px;
	height: 30px;
	border-bottom: 2px solid #fff;
	position: absolute;
	bottom: 100px;
	left: 0;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-animation: upDownArw 1.2s linear infinite;
	        animation: upDownArw 1.2s linear infinite;
}

.mv_arw_bottom:before {
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: -2.5px;
	bottom: 7.5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.mv_heading {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	height: 100%;
}

.mv_heading_logo {
	display: block;
	width: 200px;
	margin: 0 auto;
	opacity: 0;
	-webkit-transform: scale(0.7);
	        transform: scale(0.7);
	transition: opacity 1s ease-in,-webkit-transform .5s ease-in;
	transition: opacity 1s ease-in,transform .5s ease-in;
	transition: opacity 1s ease-in,transform .5s ease-in,-webkit-transform .5s ease-in;
}

.mv_heading_logo.is-active {
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.mv_heading_generic_name {
	display: block;
	margin-top: 30px;
	font-size: 22px;
	font-size: 2.2rem;
	letter-spacing: 0.1em;
	line-height: 1.8;
	color: #fff;
	opacity: 0;
	transition: opacity 1s ease;
}

.mv_heading_generic_name.is-active {
	opacity: 1;
}

.mv_ani {
	width: 450px;
	height: 450px;
	border: 5px solid #fff;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}

.mv_ani.no2 {
	border: 2px solid #fff;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	transition: -webkit-transform 2s ease-in;
	transition: transform 2s ease-in;
	transition: transform 2s ease-in, -webkit-transform 2s ease-in;
}

.mv_ani.no3 {
	border: 3px solid #fff;
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
	transition: -webkit-transform 2.2s ease-in;
	transition: transform 2.2s ease-in;
	transition: transform 2.2s ease-in, -webkit-transform 2.2s ease-in;
}

.mv_ani.no2.is-active {
	-webkit-transform: rotate(0);
	        transform: rotate(0);
}

.mv_ani.no3.is-active {
	-webkit-transform: rotate(0);
	        transform: rotate(0);
}

.sp_hum_toggle {
	display: none;
}

.main {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: start;
	    align-items: flex-start;
	width: 1100px;
	margin: 60px auto 0;
	position: relative;
}

.main_left {
	width: 200px;
	margin-top: 40px;
}

.main_left_logo {
	width: 200px;
	margin: 0 auto;
}

.main_left_nav {
	margin-top: 40px;
}

.main_left_li:nth-child(n+2) {
	margin-top: 1em;
}

.main_left_a {
	display: block;
	padding: 15px 0 10px 40px;
	font-size: 22px;
	font-size: 2.2rem;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center left 5px;
	position: relative;
}

.main_left_a:hover {
	text-decoration: none;
}

.main_left_a:after {
	content: '';
	width: 0;
	height: 5px;
	margin: auto;
	background: #3e65c2;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	transition: width .6s;
}

.main_left_a.is-active:after {
	width: 100%;
}

.main_left_a.anchor_ffi {
	background-image: url("/img/icon_ffi.png");
}

.main_left_a.anchor_member {
	background-image: url("/img/icon_member.png");
}

.main_left_a.anchor_history {
	background-image: url("/img/icon_history.png");
}

.main_left_a.anchor_order {
	background-image: url("/img/icon_order.png");
}

.main_left_a.anchor_contact {
	background-image: url("/img/icon_contact.png");
}

.main_right {
	width: 850px;
}

.main_right_heading {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 30px 5px;
	border: 1px solid #333;
	font-size: 18px;
	font-size: 1.8rem;
	letter-spacing: 0.1em;
	line-height: 1.4;
}

.main_right_heading_wrap {
	text-align: center;
}

.main_right_heading_bottom_p {
	margin-top: 60px;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
	line-height: 2;
	text-align: center;
}

.main_right_heading_bottom_p .large {
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: bold;
	color: #3e65c2;
}

.skillset {
	margin-top: 60px;
}

.skillset_inr {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.skillset_col {
	width: 46%;
	margin-left: 15px;
	padding: 0 15px 15px 15px;
	position: relative;
}

.skillset_col:before {
	content: '';
	width: 2px;
	height: 0;
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
	transition: height .6s;
	transition-delay: .8s;
}

.skillset_col.target.is-animation:before {
	height: 100%;
}

.skillset_heading {
	margin-left: -30px;
	padding: 15px 0 15px 70px;
	font-size: 20px;
	font-size: 2rem;
	letter-spacing: 0.03em;
	line-height: 1.4;
	position: relative;
}

.skillset_heading.web_design {
	background: url("/img/icon_design.png") no-repeat;
	background-size: 25px;
	background-position: center left 30px;
}

.skillset_heading.coding {
	background: url("/img/icon_history.png") no-repeat;
	background-size: 25px;
	background-position: center left 30px;
}

.skillset_heading:before {
	content: '';
	width: 0;
	height: 2px;
	background: #333;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width .6s;
}

.skillset_heading:after {
	content: '';
	width: 0;
	height: 2px;
	background: #333;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	position: absolute;
	right: -5px;
	bottom: 10.5px;
	transition: width .6s;
	transition-delay: .6s;
}

.skillset_heading.target {
	opacity: 1;
}

.skillset_heading.target.is-animation:before {
	width: 100%;
}

.skillset_heading.target.is-animation:after {
	width: 30px;
}

.skillset_p {
	font-size: 18px;
	font-size: 1.8rem;
	letter-spacing: 0.03em;
	line-height: 1.8;
}

.skillset_p_inr {
	margin-left: -30px;
	padding: 15px 15px 0 30px;
}

.skillset_p:nth-child(n+2) {
	margin-top: 1.5em;
}

.member_wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 60px;
}

.member_wrap_panel {
	width: calc((100% - 80px) / 3);
}

.member_wrap_panel:nth-child(n+2) {
	margin-left: 40px;
}

.member_wrap_panel:nth-child(n+4) {
	margin-top: 40px;
}

.member_wrap_panel:nth-child(3n+1) {
	margin-left: 0;
}

.member_wrap_panel_img {
	text-align: center;
}

.member_wrap_panel_img img {
	width: 150px;
	border: 1px solid #d4d4d4;
	border-radius: 50%;
}

.member_wrap_panel_heading {
	margin-top: 20px;
	padding-bottom: 15px;
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.member_wrap_panel_heading.target:after {
	content: '';
	width: 0;
	height: 5px;
	margin: auto;
	background: #3e65c2;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	transition: width .6s;
}

.member_wrap_panel_heading.target.is-animation:after {
	width: 50%;
}

.member_wrap_panel_p {
	margin-top: 20px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.6;
}

.member_wrap_panel_a {
	font-size: 12px;
	font-size: 1.2rem;
}

.past_works_img {
	width: 392px;
	max-width: 100%;
	margin: 60px auto 0;
}

.past_works_img.target {
	opacity: 1;
}

.past_works_img.target.is-animation {
	-webkit-animation: LeftAndRight .5s linear;
	        animation: LeftAndRight .5s linear;
	-webkit-animation-iteration-count: 2;
	        animation-iteration-count: 2;
}

.past_works_p {
	margin-top: 60px;
	font-size: 40px;
	font-size: 4rem;
	letter-spacing: 0.1em;
	line-height: 2;
	text-align: center;
}

.about_order_p {
	margin-top: 60px;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
	line-height: 2;
	text-align: center;
}

.about_order_p .line {
	display: inline-block;
	position: relative;
}

.about_order_p .line.target {
	opacity: 1;
}

.about_order_p .line.target:after {
	content: '';
	width: 0;
	height: 5px;
	background: #3e65c2;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width .6s;
}

.about_order_p .line.target.is-animation:after {
	width: 100%;
}

.about_order_table {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	margin-top: 60px;
}

.about_order_table_col {
	width: calc((100% - 20px) / 3);
}

.about_order_table_heading {
	padding: 15px 10px;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	background: #333;
}

.about_order_table_heading + .about_order_table_data {
	margin-top: 20px;
}

.about_order_table_data {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	margin-top: 10px;
	padding: 0 5px 5px 5px;
	border-bottom: 1px solid #333;
}

.about_order_bottom_p {
	margin-top: 60px;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 0.03em;
	line-height: 1.6;
	text-align: center;
}

.form {
	display: block;
	margin-top: 60px;
}

.form_table {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	    align-items: flex-start;
}

.form_table:nth-child(n+2) {
	margin-top: .5em;
}

.form_table_name {
	width: 190px;
	padding: 20px 15px;
	color: #fff;
	background: #333;
}

.form_table_data {
	width: 640px;
	margin-left: 20px;
}

.form_ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.form_li {
	margin-top: 20px;
	margin-right: 40px;
}

.form .radio:checked + .label:after {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #333;
	position: absolute;
	top: 5px;
	left: 5px;
}

.form .label {
	display: inline-block;
	height: 25px;
	padding-left: 40px;
	font-size: 16px;
	font-size: 1.6rem;
	position: relative;
	cursor: pointer;
}

.form .label:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.form .input_text {
	width: 100%;
	padding: 20px 15px;
	border: 1px solid #333;
	border-radius: 4px;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: 0.03em;
}

.form .input_text::-webkit-input-placeholder {
	color: #ddd;
}

.form .input_text:-ms-input-placeholder {
	color: #ddd;
}

.form .input_text::placeholder {
	color: #ddd;
}

.form .other_text {
	padding: 20px 15px;
	border: 1px solid #333;
	border-radius: 4px;
	font-size: 16px;
	font-size: 1.6rem;
	resize: none;
}

.form .other_text::-webkit-input-placeholder {
	color: #ddd;
}

.form .other_text:-ms-input-placeholder {
	color: #ddd;
}

.form .other_text::placeholder {
	color: #ddd;
}

.form_submit {
	margin-top: 40px;
}

.form_submit_btn {
	display: inline-block;
	width: 300px;
	padding: 20px 15px;
	font-size: 20px;
	color: #fff;
	background: #333;
	cursor: pointer;
	transition: opacity .2s;
}

.form_submit_btn:hover {
	opacity: .7;
}

.member_recruit_p {
	margin-top: 60px;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
	line-height: 2;
	text-align: center;
}

.footer {
	position: relative;
}

.footer_main {
	margin: 100px 0;
}

.footer_main_last_message {
	font-size: 50px;
	font-size: 5rem;
	letter-spacing: 0.1em;
	line-height: 1.4;
	text-align: center;
}

.footer_sub_inr {
	padding: 20px;
	background: #333;
}

.footer_sub_copyright {
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.03em;
	line-height: 1.4;
	color: #fff;
	text-align: center;
}

.page_top {
	width: 150px;
	height: 30px;
	border-bottom: 2px solid #333;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-animation: upDownArw 1.2s linear infinite;
	        animation: upDownArw 1.2s linear infinite;
}

.page_top:before {
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	background: #333;
	position: absolute;
	bottom: 7.5px;
	left: -2.5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {

body {
	min-width: 320px;
}

.section + .section {
	margin-top: 40px;
}

.mv_inr {
	width: 220px;
	height: 220px;
}

.mv_arw_bottom {
	width: 70px;
	height: 15px;
	bottom: 50px;
}

.mv_arw_bottom:before {
	width: 15px;
	bottom: 3.5px;
}

.mv_heading_logo {
	width: 100px;
}

.mv_heading_generic_name {
	margin-top: .5em;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	line-height: 1.8;
}

.mv_ani {
	width: 220px;
	height: 220px;
}

.sp_hum_toggle {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

.sp_hum_toggle.is-active .sp_hum_line:first-child {
	top: 0;
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}

.sp_hum_toggle.is-active .sp_hum_line:nth-child(2) {
	opacity: 0;
}

.sp_hum_toggle.is-active .sp_hum_line:last-child {
	top: 0;
	-webkit-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}

.sp_hum_line {
	width: 30px;
	height: 2px;
	margin: auto;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity .2s, -webkit-transform .2s;
	transition: opacity .2s, transform .2s;
	transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.sp_hum_line:first-child {
	top: -20px;
}

.sp_hum_line:last-child {
	top: 20px;
}

.main {
	display: block;
	width: 100%;
	margin: 30px auto 0;
	padding: 0 15px;
}

.main_left {
	width: 300px;
	height: 100vh;
	margin-top: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	-webkit-transform: translateX(300px);
	        transform: translateX(300px);
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}

.main_left.is-active {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

.main_left_logo {
	width: 150px;
	margin: 0;
}

.main_left_nav {
	margin-top: 20px;
}

.main_left_a {
	font-size: 1.8rem;
	color: #fff;
}

.main_left_a.anchor_ffi {
	background-image: url("/img/icon_ffi_sp.png");
}

.main_left_a.anchor_member {
	background-image: url("/img/icon_member_sp.png");
}

.main_left_a.anchor_history {
	background-image: url("/img/icon_history_sp.png");
}

.main_left_a.anchor_order {
	background-image: url("/img/icon_order_sp.png");
}

.main_left_a.anchor_contact {
	background-image: url("/img/icon_contact_sp.png");
}

.main_right {
	width: 100%;
}

.main_right_heading {
	width: 140px;
	height: 140px;
	padding: 15px 5px;
	font-size: 1.8rem;
}

.main_right_heading_bottom_p {
	margin-top: 30px;
	font-size: 1.6rem;
}

.main_right_heading_bottom_p .large {
	font-size: 2.6rem;
	color: #3e65c2;
}

.skillset {
	margin-top: 30px;
}

.skillset_inr {
	display: block;
}

.skillset_col {
	width: 100%;
}

.skillset_heading {
	font-size: 1.8rem;
}

.skillset_p {
	font-size: 1.6rem;
}

.member_wrap {
	-ms-flex-pack: justify;
	    justify-content: space-between;
	margin-top: 30px;
}

.member_wrap_panel {
	width: calc((100% - 15px) / 2);
}

.member_wrap_panel:nth-child(n+4) {
	margin-top: 0px;
}

.member_wrap_panel:nth-child(n+3) {
	margin-top: 15px;
	margin-left: 0;
}

.member_wrap_panel:nth-child(2n) {
	margin-left: 15px;
}

.member_wrap_panel_img {
	text-align: center;
}

.member_wrap_panel_heading {
	font-size: 1.6rem;
}

.member_wrap_panel_p {
	font-size: 1.4rem;
}

.past_works_img {
	width: 50%;
	margin: 30px auto 0;
}

.past_works_p {
	margin-top: 30px;
	font-size: 1.8rem;
}

.about_order_p {
	margin-top: 30px;
}

.about_order_table {
	display: block;
	margin-top: 30px;
}

.about_order_table_col {
	width: 100%;
}

.about_order_table_col:nth-child(n+2) {
	margin-top: 20px;
}

.about_order_table_heading {
	font-size: 1.8rem;
}

.about_order_bottom_p {
	margin-top: 30px;
	padding-left: 1em;
	text-indent: -1em;
	text-align: left;
}

.form {
	display: block;
	margin-top: 30px;
}

.form_table {
	display: block;
}

.form_table_name {
	width: 100%;
	padding: 15px 10px;
	font-size: 1.6rem;
}

.form_table_data {
	width: 100%;
	margin-top: 10px;
	margin-left: 0;
}

.form_ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: -10px;
}

.form_submit {
	margin-top: 30px;
}

.form_submit_btn {
	width: 220px;
	padding: 15px 10px;
	font-size: 1.8rem;
}

.member_recruit_p {
	margin-top: 30px;
	font-size: 1.4rem;
}

.footer_main {
	margin: 30px 0;
}

.footer_main_last_message {
	font-size: 2rem;
}

.footer_sub_inr {
	padding: 20px;
	background: #333;
}

.footer_sub_copyright {
	font-size: 1.4rem;
}

.page_top {
	width: 70px;
	height: 15px;
	right: -20px;
}

.page_top:before {
	width: 15px;
	bottom: 3.5px;
}

}

@-webkit-keyframes upDownArw {

0% {
	-webkit-transform: translateY(0) rotate(90deg);
	        transform: translateY(0) rotate(90deg);
}

50% {
	-webkit-transform: translateY(-20px) rotate(90deg);
	        transform: translateY(-20px) rotate(90deg);
}

100% {
	-webkit-transform: translateY(0) rotate(90deg);
	        transform: translateY(0) rotate(90deg);
}

}

@keyframes upDownArw {

0% {
	-webkit-transform: translateY(0) rotate(90deg);
	        transform: translateY(0) rotate(90deg);
}

50% {
	-webkit-transform: translateY(-20px) rotate(90deg);
	        transform: translateY(-20px) rotate(90deg);
}

100% {
	-webkit-transform: translateY(0) rotate(90deg);
	        transform: translateY(0) rotate(90deg);
}

}

@-webkit-keyframes LeftAndRight {

0% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

25% {
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
}

50% {
	-webkit-transform: translateX(0px);
	        transform: translateX(0px);
}

75% {
	-webkit-transform: translateX(10px);
	        transform: translateX(10px);
}

100% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

}

@keyframes LeftAndRight {

0% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

25% {
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
}

50% {
	-webkit-transform: translateX(0px);
	        transform: translateX(0px);
}

75% {
	-webkit-transform: translateX(10px);
	        transform: translateX(10px);
}

100% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

}

