extends include/_temp
block title
  title FFi
block meta
  meta(name='keywords', content='FFi')
  meta(name='description', content='FFiについての説明文をこちら')
block css
  link(rel="stylesheet", href="/css/style.css")
block js
  script(src="/js/main.js" defer)
block contents