extends include/_temp
block title
  title FFi
block meta
  meta(name='keywords', content='FFi')
  meta(name='description', content='FFiについての説明文をこちら')
block css
  link(href='https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Serif+JP:500&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:100&display=swap&subset=japanese', rel='stylesheet')
  link(rel="stylesheet", href="/css/style.css")
block js
  script(src="/js/main.js" defer)
  //- script(src="/js/sidebar_fixed.js" defer)
block contents
  section.mv.js_mv_height
    .mv_inr
      h1.mv_heading
        span.mv_heading_logo
          img(src= imgPath + "logo_ffi.png", alt="FFi")
        span.mv_heading_generic_name
          | Freelance
          br
          | Front-end
          br
          | innovation
      .mv_ani.no1
      .mv_ani.no2
      .mv_ani.no3

  main.main(style="height:2000px")
    .main_left.js-fixed-target-content
      .main_left_inr
        .main_left_logo
          img(src= imgPath + "logo_ffi_bl.png", alt="FFi")
        nav.main_left_nav
          ul.main_left_ul
            li.main_left_li
              a.main_left_a.anchor_ffi.is-active(href="") FFiとは
            li.main_left_li
              a.main_left_a.anchor_member(href="") メンバー
            li.main_left_li
              a.main_left_a.anchor_history(href="") 過去作品
            li.main_left_li
              a.main_left_a.anchor_order(href="") ご依頼について
            li.main_left_li
              a.main_left_a.anchor_contact(href="") お問い合わせ
    section.main_right.js-main-content
      .main_right_inr
        section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif FFi
              br
              | とは？
          p.main_right_heading_bottom_p “FFi”とは
            span.large F
            | reelance
            span.large  F
            | ront-end
            span.large i
            | nnovation(フリーランス・フロントエンド・イノベーション)の略。
            br
            | “個人で自由に動き回るフロントエンドエンジニア”を志す若手技術者のチームです。
            br
            | - 2019年秋 -
            br
            | クリエイティブで向上心旺盛なメンバーが集い、コミュニティとして発足。
            br
            | - 2020年正月 -
            br
            | 「それぞれの得意分野が異なるメンバー同士で補完し合い、仕事したら…
            br
            | 色んな方からのホームページ制作のご依頼やご要望を満たすことができるのでは？」
            br
            | そんな動機で、会社のようだけど会社ではない、ひとつのチームとして走り始めました。
        .main_right_skillset
          .main_right_skillset_inr
            .main_right_skillset_col.target
              h3.main_right_skillset_heading.noto_serif.web_design.target webデザイン
              .main_right_skillset_p_inr
                p.main_right_skillset_p なんとなくのデザインからの卒業。
                  br
                  | お客様とのやり取りから真のニーズ
                  br
                  | を洗い出します。
                  br
                  | また、
                  br
                  | デザインの理論や知識を踏まえ、
                  br
                  | 目的達成を見据えた
                  br
                  | Webデザインを制作を致します。
                p.main_right_skillset_p 使用ツール：
                  br
                  | Photoshop, Illustrator, XD,Animate, FireAlpaca ...etc.
                  br
                  | (今後さらに増えていきます)
            .main_right_skillset_col.target
              h3.main_right_skillset_heading.noto_serif.coding.target コーディング
              .main_right_skillset_p_inr
                p.main_right_skillset_p ホームページの制作を
                  br
                  | 得意としています。
                  br
                  | 「検索したら上の方に出てくる
                  br
                  | ランディング・ページを作りたい」
                  br
                  | 「WordPressを使ったサイトがいい」
                  br
                  | 「魅力的なアニメーションを…」など、まずは何でもご相談下さい。
                p.main_right_skillset_p スキルセット：
                  br
                  | HTML, CSS, Java Script, PHP, Sass,
                  br
                  | Pug, Bootstrap, jQuery, gulp  ...etc.(今後さらに増えていきます)