extends include/_temp
block title
  title FFi
block meta
  meta(name='keywords', content='FFi')
  meta(name='description', content='FFiについての説明文をこちら')
block css
  link(href='https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Serif+JP:500&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:100&display=swap&subset=japanese', rel='stylesheet')
  link(rel="stylesheet", href="/css/style.css")
block js
  script(src="/js/main.js" defer)
  script(src="/js/sidebar_fixed.js" defer)
block contents
  section.mv.js_mv_height
    .mv_inr
      .mv_heading
        h1.mv_heading_logo
          img(src= imgPath + "logo_ffi.png", alt="FFi")
        p.mv_heading_generic_name
          | Freelance
          br
          | Front-end
          br
          | innovation
      .mv_ani.no1
      .mv_ani.no2
      .mv_ani.no3
    a.mv_arw_bottom(href="#ffi")
    .sp_hum_toggle
      .sp_hum_line
      .sp_hum_line
      .sp_hum_line

  // main
  main.main
    // main_left
    .main_left.js_fixed_target_content
      .main_left_inr
        .main_left_logo.forPC
          img(src= imgPath + "logo_ffi_bl.png", alt="FFi")
        .main_left_logo.forSP
          img(src= imgPath + "logo_ffi.png", alt="FFi")
        nav.main_left_nav
          ul.main_left_ul
            li.main_left_li
              a.main_left_a.anchor_ffi(href="#ffi") FFiとは
            li.main_left_li
              a.main_left_a.anchor_member(href="#member") メンバー
            li.main_left_li
              a.main_left_a.anchor_history(href="#past_works") 過去作品
            li.main_left_li
              a.main_left_a.anchor_order(href="#about_order") ご依頼について
            li.main_left_li
              a.main_left_a.anchor_contact(href="#contact") お問い合わせ
            li.main_left_li
              a.main_left_a.anchor_member(href="#member_recruit") 制作メンバー
                br
                | 求む！
    // end main_left
    // main_right
    section.main_right.js_main_content
      .main_right_inr
        // section
        section#ffi.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif FFi
              br
              | とは？
          p.main_right_heading_bottom_p.target “FFi”とは
            span.large F
            | reelance
            span.large  F
            | ront-end
            span.large  i
            | nnovation(フリーランス・フロントエンド・イノベーション)の略。
            br
            | “個人で自由に動き回るフロントエンドエンジニア”を志す若手技術者のチームです。
            br
            | - 2019年秋 -
            br
            | クリエイティブで向上心旺盛なメンバーが集い、コミュニティとして発足。
            br
            | - 2020年正月 -
            br
            | 「それぞれの得意分野が異なるメンバー同士で補完し合い、仕事したら…
            br
            | 色んな方からのホームページ制作のご依頼やご要望を満たすことができるのでは？」
            br
            | そんな動機で、会社のようだけど会社ではない、ひとつのチームとして走り始めました。
          .skillset
            .skillset_inr
              .skillset_col.target
                h3.skillset_heading.noto_serif.web_design.target webデザイン
                .skillset_p_inr.target
                  p.skillset_p なんとなくのデザインからの卒業。
                    br
                    | お客様とのやり取りから真のニーズ
                    br
                    | を洗い出します。
                    br
                    | また、
                    br
                    | デザインの理論や知識を踏まえ、
                    br
                    | 目的達成を見据えた
                    br
                    | Webデザインを制作を致します。
                  p.skillset_p 使用ツール：
                    br
                    | Photoshop, Illustrator, XD,Animate, FireAlpaca ...etc.
                    br
                    | (今後さらに増えていきます)
              .skillset_col.target
                h3.skillset_heading.noto_serif.coding.target コーディング
                .skillset_p_inr.target
                  p.skillset_p ホームページの制作を
                    br
                    | 得意としています。
                    br
                    | 「検索したら上の方に出てくる
                    br
                    | ランディング・ページを作りたい」
                    br
                    | 「WordPressを使ったサイトがいい」
                    br
                    | 「魅力的なアニメーションを…」など、まずは何でもご相談下さい。
                  p.skillset_p スキルセット：
                    br
                    | HTML, CSS, JavaScript, PHP, Sass,
                    br
                    | Pug, Bootstrap, jQuery, gulp  ...etc.(今後さらに増えていきます)
        // end section

        // section
        section#member.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif メンバー
          .member_wrap
            .member_wrap_panel
              p.member_wrap_panel_img.target
                img(src= imgPath + "img_mina_hashiguchi.jpg", alt="ハシグチ　ミナ")
              h3.member_wrap_panel_heading.noto_serif.target ハシグチ　ミナ
              p.member_wrap_panel_p.noto_sans_jp.target 個人でイラストやデザインを作っている物好き。脳科学、UX、アニメーション、Webマーケティング好き。
                br
                | 海外活動を視野にWebデザイナー兼プログラマーを目指している。
                br
                a.member_wrap_panel_a.noto_sans_jp(href="https://twitter.com/syu9_de_sushiro" target="_blank") Twitter：syu9_de_sushiro
            .member_wrap_panel
              p.member_wrap_panel_img.target
                img(src= imgPath + "img_sho_ishijima.jpg", alt="イシジマ　ショウ")
              h3.member_wrap_panel_heading.noto_serif.target イシジマ　ショウ
              p.member_wrap_panel_p.noto_sans_jp.target フリーランスマークアップエンジニアとして業務委託などで働いております。サブディレクターとして働いていたこともあり、お客様とのコミュニケーションには自身があります。
                br
                a.member_wrap_panel_a.noto_sans_jp(href="https://twitter.com/shoFrontend" target="_blank") Twitter：shoFrontend
            .member_wrap_panel
              p.member_wrap_panel_img.target
                img(src= imgPath + "img_choco.jpg", alt="choco")
              h3.member_wrap_panel_heading.noto_serif.target choco
              p.member_wrap_panel_p.noto_sans_jp.target 家事も仕事も頑張る主婦エンジニアになりたい。金融業出身。お客様に寄り添って対応させていただきます。
                br
                a.member_wrap_panel_a.noto_sans_jp(href="https://twitter.com/choco_web" target="_blank") Twitter：choco_web
            .member_wrap_panel
              p.member_wrap_panel_img.target
                img(src= imgPath + "img_katsuaki_umeno.jpg", alt="ウメノ　カツアキ")
              h3.member_wrap_panel_heading.noto_serif.target ウメノ　カツアキ
              p.member_wrap_panel_p.noto_sans_jp.target スポーツ一筋からエンジニアへのジョブチェンジ！
                br
                | 現在はSES会社の役員から現場経験豊富なエンジニアを目指す。
                br
                a.member_wrap_panel_a.noto_sans_jp(href="https://twitter.com/kohpen_umechan" target="_blank") Twitter：kohpen_umechan
        // end section

        // section
        section#past_works.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif 過去作品
          .past_works
            p.past_works_img.target
              img(src= imgPath + "icon_past_works.png", alt="")
            p.past_works_p.target 申し訳ございません。準備中です。
        // end section

        // section
        section#about_order.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif ご依頼
              br
              | について
          .about_order
            p.about_order_p.target Webデザインからコーディング、Webデザインのみ、コーディングのみのどれでも承ります。
              br
              | ご依頼内容の参考価格、最低価格は以下をご覧ください。
              br
              | まだ駆け出したばかりのチームですので、
              span.line.target 相場より安いこの価格は今だけです！
            .about_order_table.target
              .about_order_table_col
                h3.about_order_table_heading コーディング
                .about_order_table_data
                  .about_order_table_data_name トップページ
                  .about_order_table_data_price ¥30,000-
                .about_order_table_data
                  .about_order_table_data_name 下層ページ
                  .about_order_table_data_price ¥8,000-
                .about_order_table_data
                  .about_order_table_data_name ランディングページ
                  .about_order_table_data_price ¥40,000-
                .about_order_table_data
                  .about_order_table_data_name レスポンシブ化
                  .about_order_table_data_price ¥80,000-
              .about_order_table_col
                h3.about_order_table_heading Webデザイン
                .about_order_table_data
                  .about_order_table_data_name トップページ
                  .about_order_table_data_price ¥70,000-
                .about_order_table_data
                  .about_order_table_data_name 下層ページ
                  .about_order_table_data_price ¥15,000-
                .about_order_table_data
                  .about_order_table_data_name ランディングページ
                  .about_order_table_data_price ¥80,000-
              .about_order_table_col
                h3.about_order_table_heading 画像編集・加工等
                .about_order_table_data
                  .about_order_table_data_name バナー制作
                  .about_order_table_data_price ¥6,000-
                .about_order_table_data
                  .about_order_table_data_name ロゴ制作
                  .about_order_table_data_price ¥5,000-
                .about_order_table_data
                  .about_order_table_data_name 画像編集・加工
                  .about_order_table_data_price ¥6,000-
            p.about_order_bottom_p.target ※上記価格は制作のみの最低価格です。大幅な修正料等やサーバー・ドメイン代…その他オプション等は含みません。
              br
              | 画像編集・加工等についてはサイズによって異なります。上記は1枚のみの参考価格です。
              br
              | 予算やご要望などヒアリングさせて頂きながらお見積もりを提示させて頂きますので、まずはお気軽にお問い合わせください。
        // end section

        // section
        section#contact.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif お問い合わせ
            form#form_main.form.target(method="post" action="/contact.php")
              .form_inr
                .form_table
                  .form_table_name お問い合わせ内容
                  .form_table_data
                    ul.form_ul
                      li.form_li
                        input#order.radio(type='radio', name='contact_detail', value='ご依頼')
                        label.label(for='order') ご依頼
                      li.form_li
                        input#come_member.radio(type='radio', name='contact_detail', value='メンバー応募')
                        label.label(for='come_member') メンバー応募
                      li.form_li
                        input#etc.radio(type='radio', name='contact_detail', value='その他')
                        label.label(for='etc') その他
                .form_table
                  .form_table_name 貴社名
                  .form_table_data
                    input.input_text(type="text", name="company_name", placeholder="(例)xxx株式会社")
                .form_table
                  .form_table_name お名前
                  .form_table_data
                    input.input_text(type="text", name="full_name", placeholder="(例)山田　太郎")
                .form_table
                  .form_table_name メールアドレス
                  .form_table_data
                    input.input_text(type="email", name="email", placeholder="(例) xxx@gmail.com")
                .form_table
                  .form_table_name メッセージ
                  .form_table_data
                    textarea.other_text(name="other_text", cols="30", rows="10" placeholder="お問い合わせ内容")
                .form_submit
                  input.form_submit_btn(type="submit" value="送信")
        // end section

        // section
        section#member_recruit.section
          .main_right_heading_wrap
            h2.main_right_heading.noto_serif 制作メンバー
              br
              | 求む！
            p.member_recruit_p.target フリーランス志向のWebデザイナー/フロントエンドエンジニア/マークアップエンジニアの方で、
              br.forPC
              | 助け合いながら一緒に案件こなしたり、もくもく会(大体渋谷で開催)で
              br.forPC
              | ワイワイ切磋琢磨できるチームメンバーを1～2名募集中です！
              br
              | クリエイティブ、自主性がある、積極的な参加・発言・行動が可能、柔軟で多面的な思考ができる、
              br.forPC
              | コーディング・Webデザイン以外の個人活動に必要な知識の吸収もする、攻撃的な発言はしない…
              br
              | そんな感じのメンバーを探しています。(当チームはそういうメンバーで構成されています！)
              br
              | 詳細はお問い合わせ下さい。
        // end section
    // end main_right
  // end main