extends include/_temp
block title
  title FFi
block meta
  meta(name='keywords', content='FFi')
  meta(name='description', content='FFiについての説明文をこちら')
block css
  link(rel="stylesheet", href="/css/style.css")
block js
  script(src="/js/main.js" defer)
block contents
  div.main_wrap
    div.left_con
      div.logo
        img(src="./img/ffi.png", alt="")
        nav
          ul
            li FFiとは
            li メンバー
            li 過去作品
            li ご依頼について
            li お問い合わせ
            li 制作メンバー求む!
    div.right_con
      h2 FFi<br>とは？
      p.text
      |    “FFi”とはFreelance Front-end innovation(フリーランス・フロントエンド・イノベーション)の略。<br>
      |    “個人で自由に動き回るフロントエンドエンジニア”を志す若手技術者のチームです。<br>
      |    - 2019年秋 -<br>
      |    クリエイティブで向上心旺盛なメンバーが集い、コミュニティとして発足。<br>
      |    - 2020年正月 -<br>
      |    「それぞれの得意分野が異なるメンバー同士で補完し合い、仕事したら…<br>
      |    色んな方からのホームページ制作のご依頼やご要望を満たすことができるのでは？」<br>
      |    そんな動機で、会社のようだけど会社ではない、ひとつのチームとして走り始めました。
