.header {
  display: block;
    .eye_catch{
      background-image: url(../img/eye_catch.jpg);
      background-size: cover;
      background-position: center center;
      height: 100vh;
    }
}