doctype
html(lang='ja')
  include _head.pug
  body
    .wrapper
      // header
      include _header
      // END header

      // contents
      block contents
      // END contents

      // footer
      include _footer
      // END footer